In [1]:
sc

In [4]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [11]:
bank_data = spark.read.json("file:///home/hadoop/Downloads/bank_edited.json", multiLine=True)
bank_data.show()

+---+-------+--------+-------+---+-------+--------+---------+-------+------------+----+--------+-----+-----+--------+--------+---+
|age|balance|campaign|contact|day|default|duration|education|housing|         job|loan| marital|month|pdays|poutcome|previous|  y|
+---+-------+--------+-------+---+-------+--------+---------+-------+------------+----+--------+-----+-----+--------+--------+---+
| 58|   2143|       1|unknown|  5|     no|     261| tertiary|    yes|  management|  no| married|  may|   -1| unknown|       0| no|
| 44|     29|       1|unknown|  5|     no|     151|secondary|    yes|  technician|  no|  single|  may|   -1| unknown|       0| no|
| 33|      2|       1|unknown|  5|     no|      76|secondary|    yes|entrepreneur| yes| married|  may|   -1| unknown|       0| no|
| 47|   1506|       1|unknown|  5|     no|      92|  unknown|    yes| blue-collar|  no| married|  may|   -1| unknown|       0| no|
| 33|      1|       1|unknown|  5|     no|     198|  unknown|     no|     unknown|  no|  single|  may|   -1| unknown|       0| no|
| 35|    231|       1|unknown|  5|     no|     139| tertiary|    yes|  management|  no| married|  may|   -1| unknown|       0| no|
| 28|    447|       1|unknown|  5|     no|     217| tertiary|    yes|  management| yes|  single|  may|   -1| unknown|       0| no|
| 42|      2|       1|unknown|  5|    yes|     380| tertiary|    yes|entrepreneur|  no|divorced|  may|   -1| unknown|       0| no|
| 58|    121|       1|unknown|  5|     no|      50|  primary|    yes|     retired|  no| married|  may|   -1| unknown|       0| no|
| 43|    593|       1|unknown|  5|     no|      55|secondary|    yes|  technician|  no|  single|  may|   -1| unknown|       0| no|
| 41|    270|       1|unknown|  5|     no|     222|secondary|    yes|      admin.|  no|divorced|  may|   -1| unknown|       0| no|
| 29|    390|       1|unknown|  5|     no|     137|secondary|    yes|      admin.|  no|  single|  may|   -1| unknown|       0| no|
| 53|      6|       1|unknown|  5|     no|     517|secondary|    yes|  technician|  no| married|  may|   -1| unknown|       0| no|
| 58|     71|       1|unknown|  5|     no|      71|  unknown|    yes|  technician|  no| married|  may|   -1| unknown|       0| no|
| 57|    162|       1|unknown|  5|     no|     174|secondary|    yes|    services|  no| married|  may|   -1| unknown|       0| no|
| 51|    229|       1|unknown|  5|     no|     353|  primary|    yes|     retired|  no| married|  may|   -1| unknown|       0| no|
| 45|     13|       1|unknown|  5|     no|      98|  unknown|    yes|      admin.|  no|  single|  may|   -1| unknown|       0| no|
| 57|     52|       1|unknown|  5|     no|      38|  primary|    yes| blue-collar|  no| married|  may|   -1| unknown|       0| no|
| 60|     60|       1|unknown|  5|     no|     219|  primary|    yes|     retired|  no| married|  may|   -1| unknown|       0| no|
| 33|      0|       1|unknown|  5|     no|      54|secondary|    yes|    services|  no| married|  may|   -1| unknown|       0| no|
+---+-------+--------+-------+---+-------+--------+---------+-------+------------+----+--------+-----+-----+--------+--------+---+
only showing top 20 rows

#### 1. create a schema with defined fields in desired order and desired dtype

In [5]:
schema = StructType([
    StructField("id", IntegerType(),True),
    StructField("first_name", StringType(),True),
    StructField("last_name", StringType(),True),
    StructField("gender", StringType(),True),
    StructField("salary", LongType(),True),
    StructField("city", StringType(),True),
    StructField("country", StringType(),True)
])

In [6]:
people_df = spark.read.schema(schema).json("file:///home/hadoop/Downloads/People.json")
people_df.show()

+---+----------+---------+------+------+------------------+------------+
| id|first_name|last_name|gender|salary|              city|     country|
+---+----------+---------+------+------+------------------+------------+
|  1|     Valma|     Sans|Female|983107|         Mulyosari|   Indonesia|
|  2|     Paolo|   Kiddie|  Male|649173|           Niihama|       Japan|
|  3|    Miltie| De Zuani|  Male|352898|         Dū Qal‘ah| Afghanistan|
|  4|    Jarrid| Dalziell|  Male|170398|            Iberia|        Peru|
|  5| Reinaldos|   Keeffe|  Male|440989|          La Ronge|      Canada|
|  6|        Eb|Schwanden|  Male|274126|      Kuala Lumpur|    Malaysia|
|  7|    Alleyn|   Paddon|  Male|681914|         Al Qurayn|Saudi Arabia|
|  8|   Baryram|     Yell|  Male|250748|           Jixiang|       China|
|  9|     Cammy|     Axel|Female|221750|Thị Trấn Phong Thổ|     Vietnam|
| 10|       Erl|  Caldera|  Male|680801|        Kotatengah|   Indonesia|
| 11|    Miguel|   Moules|  Male|819771|        Roldanillo|    Colombia|
| 12| Mireielle|   Hurley|Female|486029|            Malārd|        Iran|
| 13|    Feodor| Grummitt|  Male|358045|     Fada N'gourma|Burkina Faso|
| 14|     Diana|  Lawfull|Female|397683|           Ciangir|   Indonesia|
| 15|      Evie|   Kaysor|Female|436202|         El Cantón|   Venezuela|
| 16|    Janean|    Sayse|Female|892405|          La Unión|    Colombia|
| 17|     Colan|   Stoppe|  Male|218434|            Xinhua|       China|
| 18|      Erik| Stitcher|  Male|776023|     Крива Паланка|   Macedonia|
| 19|   Sargent|   Cleall|  Male|819269|          Qīr Moāv|      Jordan|
| 20|   Tamqrah|Millichip|Female|313540|      Bogandinskiy|      Russia|
+---+----------+---------+------+------+------------------+------------+
only showing top 20 rows

In [7]:
#Limit - To limit first 5 records
people_df.limit(5).show()

+---+----------+---------+------+------+---------+-----------+
| id|first_name|last_name|gender|salary|     city|    country|
+---+----------+---------+------+------+---------+-----------+
|  1|     Valma|     Sans|Female|983107|Mulyosari|  Indonesia|
|  2|     Paolo|   Kiddie|  Male|649173|  Niihama|      Japan|
|  3|    Miltie| De Zuani|  Male|352898|Dū Qal‘ah|Afghanistan|
|  4|    Jarrid| Dalziell|  Male|170398|   Iberia|       Peru|
|  5| Reinaldos|   Keeffe|  Male|440989| La Ronge|     Canada|
+---+----------+---------+------+------+---------+-----------+

#### 3. Rando sampling of data from sample method

In [8]:
people_df.sample(withReplacement = False, fraction = 0.05, seed = 123).show()

+---+----------+---------+------+------+---------------+--------------+
| id|first_name|last_name|gender|salary|           city|       country|
+---+----------+---------+------+------+---------------+--------------+
| 35|  Germayne|  Tremeer|  Male|920086|     eSikhawini|  South Africa|
| 47|   Olivier|   Shewon|  Male|244655|         Kolaka|     Indonesia|
| 69|Ermentrude|  Teffrey|Female| 96039|          Tiron|     Indonesia|
| 87|  Maryanna|  Petchey|Female|853991|       Subotica|        Serbia|
| 89|     Jayme| Brunotti|Female|881570|        Marston|United Kingdom|
|101|    Fredia| Reinhard|Female|644592|Belén de Umbría|      Colombia|
|138|   Kirstyn| Izkovici|Female|606642|      Jembangan|     Indonesia|
|156| Antonella|    Gaule|Female|856946|         Gunung|     Indonesia|
|168|     Natal|  Eilhart|  Male|921191|       Houxiang|         China|
|177|    Durand|   Plevin|  Male|151677|          Kinna|        Sweden|
|179|     Bucky|   Engley|  Male|593031|  Ollantaytambo|          Peru|
|211|     Danya|  Simenon|Female|369820|        Gibsons|        Canada|
|230|    Andrea|    Becks|  Male|764222|        Tubajon|   Philippines|
|237|    Tracey|  Klugman|Female|893047|          Choya|        Russia|
|239|    Venita| Lorraway|Female| 72608|       Xinmatou|         China|
|269|      Joel|  Lerwell|  Male|302113|          Jabon|     Indonesia|
|277|    Isiahi| Hartburn|  Male| 35601|       Budapest|       Hungary|
|319|  Raimundo|  Huntley|  Male|221394|      Damatulan|   Philippines|
|322|    Ileana| Valentin|Female|683578|         Dianya|         China|
|323|   Opaline|   Fevier|Female|798573|        Vodnjan|       Croatia|
+---+----------+---------+------+------+---------------+--------------+
only showing top 20 rows

#### 4. OrderBy()
* Arrange data in ascending or descending order

In [ ]:
people_df.orderBy(['salary','first_name'], ascending = True).show()