In [11]:
sc

In [7]:
sc.stop()

#### 1. Create a new Spark Session Instance

In [15]:
spark

In [9]:
from pyspark import SparkContext, SparkConf
config = SparkConf().setAppName("PysparkSession").setMaster("local[4]")
sc = SparkContext(conf = config)

In [14]:
# spark session ()- 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PysparkSession").getOrCreate()

In [1]:
!hdfs dfs -mkdir /flights

In [2]:
!hdfs dfs -put /home/hadoop/Downloads/raw_flight_data.csv /flights

In [7]:
#inferSchema - it will read data based on the corresponding datatype
flights_df = spark.read.csv("/flights/raw_flight_data.csv", inferSchema=True, header = True)

In [8]:
flights_df.head(5)

[Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=11433, DestAirportID=13303, DepDelay=-3, ArrDelay=1),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=14869, DestAirportID=12478, DepDelay=0, ArrDelay=-8),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=14057, DestAirportID=14869, DepDelay=-4, ArrDelay=-15),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=15016, DestAirportID=11433, DepDelay=28, ArrDelay=24),
 Row(DayofMonth=19, DayOfWeek=5, Carrier='DL', OriginAirportID=11193, DestAirportID=12892, DepDelay=-6, ArrDelay=-11)]

In [9]:
flights_df.show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

#### Select
    * To select specific column

In [10]:
flights_df.select(['DayofMonth','Carrier','OriginAirportID','DepDelay']).show()

+----------+-------+---------------+--------+
|DayofMonth|Carrier|OriginAirportID|DepDelay|
+----------+-------+---------------+--------+
|        19|     DL|          11433|      -3|
|        19|     DL|          14869|       0|
|        19|     DL|          14057|      -4|
|        19|     DL|          15016|      28|
|        19|     DL|          11193|      -6|
|        19|     DL|          10397|      -1|
|        19|     DL|          15016|       0|
|        19|     DL|          10397|      15|
|        19|     DL|          10397|      33|
|        19|     DL|          11278|     323|
|        19|     DL|          14107|      -7|
|        19|     DL|          11433|      22|
|        19|     DL|          11298|      40|
|        19|     DL|          11433|      -2|
|        19|     DL|          10397|      71|
|        19|     DL|          12451|      75|
|        19|     DL|          12953|      -1|
|        19|     DL|          11433|      -3|
|        19|     DL|          10397|      31|
|        19|     DL|          13204|       8|
+----------+-------+---------------+--------+
only showing top 20 rows

In [11]:
flights_df.select(['Carrier']).distinct().show()

+-------+
|Carrier|
+-------+
|     UA|
|     AA|
|     EV|
|     B6|
|     DL|
|     OO|
|     F9|
|     YV|
|     US|
|     MQ|
|     HA|
|     AS|
|     FL|
|     VX|
|     WN|
|     9E|
+-------+

#### 2. count() - Aggregate method to display count of carrier

In [13]:
flights_df.select(['Carrier']).distinct().count()

16

#### where() :
    * It is just like filter() method of RDD with boleean condition statements

In [14]:
flights_df.where((flights_df.DepDelay > 0) & (flights_df.ArrDelay > 0)).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          10397|        11278|       2|       1|
|        20|        6|     DL|          11278|        10397|      34|      38|
|        20|        6|     DL|          11697|        12953|      20|       1|
|        20|        6|     DL|          13487|        13198|      35|      26|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [15]:
flights_df.filter((flights_df.DepDelay > 0) & (flights_df.ArrDelay > 0)).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
|        19|        5|     DL|          12889|        13487|       7|      16|
|        19|        5|     DL|          14027|        10397|      13|      25|
|        19|        5|     DL|          13244|        10397|       4|      13|
|        19|        5|     DL|          10397|        12892|      15|       7|
|        19|        5|     DL|          14747|        14869|      15|      18|
|        19|        5|     DL|          10423|        10397|      56|      49|
|        20|        6|     DL|          10397|        11278|       2|       1|
|        20|        6|     DL|          11278|        10397|      34|      38|
|        20|        6|     DL|          11697|        12953|      20|       1|
|        20|        6|     DL|          13487|        13198|      35|      26|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

#### 5. isin()
    * Filter values by matching pattern

In [17]:
flights_df.where(flights_df.Carrier.isin('DL','B6','UA')).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [26]:
airports_df = spark.read.csv("file:///home/hadoop/Downloads/airports.csv", inferSchema=True, header=True)

#### 7. printSchema()
    * shows column name , Data type of each column and if column is having null values

In [27]:
airports_df.printSchema()

root
 |-- airport_id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- name: string (nullable = true)

In [28]:
airports_df.show()

+----------+-----------+-----+--------------------+
|airport_id|       city|state|                name|
+----------+-----------+-----+--------------------+
|     10165|Adak Island|   AK|                Adak|
|     10299|  Anchorage|   AK|Ted Stevens Ancho...|
|     10304|      Aniak|   AK|       Aniak Airport|
|     10754|     Barrow|   AK|Wiley Post/Will R...|
|     10551|     Bethel|   AK|      Bethel Airport|
|     10926|    Cordova|   AK|Merle K Mudhole S...|
|     14709|  Deadhorse|   AK|   Deadhorse Airport|
|     11336| Dillingham|   AK|  Dillingham Airport|
|     11630|  Fairbanks|   AK|Fairbanks Interna...|
|     11997|   Gustavus|   AK|    Gustavus Airport|
|     12523|     Juneau|   AK|Juneau International|
|     12819|  Ketchikan|   AK|Ketchikan Interna...|
|     10245|King Salmon|   AK| King Salmon Airport|
|     10170|     Kodiak|   AK|      Kodiak Airport|
|     13970|   Kotzebue|   AK| Ralph Wien Memorial|
|     13873|       Nome|   AK|        Nome Airport|
|     14256| Petersburg|   AK|Petersburg James ...|
|     14828|      Sitka|   AK|Sitka Rocky Gutie...|
|     12807| St. Mary's|   AK|  St. Mary's Airport|
|     11445|   Unalaska|   AK|    Unalaska Airport|
+----------+-----------+-----+--------------------+
only showing top 20 rows

In [ ]:
#### 8. join method
    * To join between two or more than two DataFrames

In [30]:
flight_airportDF = flights_df.join(airports_df, flights_df.OriginAirportID == airports_df.airport_id)
flight_airportDF.show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|             city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|   Salt Lake City|   UT|Salt Lake City In...|
|        19|        5|     DL|          14057|        14869|      -4|     -15|     14057|         Portland|   OR|Portland Internat...|
|        19|        5|     DL|          15016|        11433|      28|      24|     15016|        St. Louis|   MO|Lambert-St. Louis...|
|        19|        5|     DL|          11193|        12892|      -6|     -11|     11193|       Cincinnati|   OH|Cincinnati/Northe...|
|        19|        5|     DL|          10397|        15016|      -1|     -19|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          15016|        10397|       0|      -1|     15016|        St. Louis|   MO|Lambert-St. Louis...|
|        19|        5|     DL|          10397|        14869|      15|      24|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          10397|        10423|      33|      34|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          11278|        10397|     323|     322|     11278|       Washington|   DC|Ronald Reagan Was...|
|        19|        5|     DL|          14107|        13487|      -7|     -13|     14107|          Phoenix|   AZ|Phoenix Sky Harbo...|
|        19|        5|     DL|          11433|        11298|      22|      41|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          11298|        11433|      40|      20|     11298|Dallas/Fort Worth|   TX|Dallas/Fort Worth...|
|        19|        5|     DL|          11433|        12892|      -2|      -7|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          10397|        12451|      71|      75|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          12451|        10397|      75|      57|     12451|     Jacksonville|   FL|Jacksonville Inte...|
|        19|        5|     DL|          12953|        10397|      -1|      10|     12953|         New York|   NY|           LaGuardia|
|        19|        5|     DL|          11433|        12953|      -3|     -10|     11433|          Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          10397|        14771|      31|      38|     10397|          Atlanta|   GA|Hartsfield-Jackso...|
|        19|        5|     DL|          13204|        10397|       8|      25|     13204|          Orlando|   FL|Orlando Internati...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------------+-----+--------------------+
only showing top 20 rows

In [34]:
airports_df.join(airports_df.select(['airport_id','name']),flights_df.OriginAirportID == airports_df.airport_id).show()

AnalysisException: 'Resolved attribute(s) OriginAirportID#58 missing from name#336,state#335,city#334,airport_id#333,name#451,airport_id#448 in operator !Join Inner, (OriginAirportID#58 = airport_id#333).;;\n!Join Inner, (OriginAirportID#58 = airport_id#333)\n:- Relation[airport_id#333,city#334,state#335,name#336] csv\n+- Project [airport_id#448, name#451]\n   +- Relation[airport_id#448,city#449,state#450,name#451] csv\n'

#### isnull()

In [38]:
from pyspark.sql.functions import *
flights_df.select([count(when(isnull(col),col)).alias(col) for col in flights_df.columns]).show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         0|        0|      0|              0|            0|   27444|   29033|
+----------+---------+-------+---------------+-------------+--------+--------+

In [ ]:
# flights_df.toPandas() - Typecasting Spark DF to pandas DF

#### Drop Duplicates()
* It will dop the duplicate records from existing Dataframes

In [39]:
flights_df1 = flights_df.dropDuplicates()

In [40]:
spark

In [41]:
flights_df1.show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|         6|        1|     WN|          10821|        10140|       1|     -22|
|         8|        1|     AA|          11298|        10140|       0|       6|
|        15|        1|     WN|          11259|        10140|      21|      20|
|        15|        1|     WN|          14747|        10140|      -6|       3|
|        17|        1|     WN|          12889|        10140|      -4|      -9|
|        27|        1|     AA|          11298|        10140|     113|     117|
|         4|        2|     WN|          12191|        10140|      51|      55|
|         7|        2|     OO|          12266|        10140|      -3|     -11|
|        25|        2|     OO|          14869|        10140|      -2|       2|
|        28|        2|     WN|          14107|        10140|      -3|       0|
|        30|        2|     OO|          12266|        10140|      -4|     -11|
|         1|        3|     EV|          12266|        10140|     -11|     -26|
|         3|        3|     WN|          11292|        10140|      45|      36|
|         3|        3|     OO|          12892|        10140|      -4|      -2|
|         5|        3|     OO|          13930|        10140|      -2|       4|
|        17|        3|     WN|          12892|        10140|      -1|       3|
|        22|        3|     WN|          14107|        10140|     109|     106|
|        24|        3|     WN|          14747|        10140|       0|      -4|
|         2|        4|     OO|          14869|        10140|      -8|     -25|
|         4|        4|     WN|          11259|        10140|      -5|      -9|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [50]:
flights_per = ((flights_df.count())-(flights_df1.count())) * 100/(flights_df.count())

In [51]:
print(flights_per)

0.8249927006440348

In [54]:
def dup_per(x,y):
    val = x - y
    per = val * 100 / x
    return per
res = dup_per(flights_df.count(),flights_df1.count())
print("Percentage of duplicate records",res)

Percentage of duplicate records 0.8249927006440348

#### 10. fillna()
* To replace or fill missing columns with central tendency(mean, median, mode).
* Here will replace missing values by 0s.

In [63]:
flights_data = flight_airportDF.dropDuplicates().fillna(0, subset = ['DepDelay','ArrDelay'])

In [64]:
flights_data.show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|       city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
|         8|        1|     DL|          10140|        10397|      -3|     -10|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        5|     WN|          10140|        10821|      97|      82|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        22|        6|     WN|          10140|        11259|      27|      22|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         7|        7|     WN|          10140|        11259|       6|       1|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        13|        1|     WN|          10140|        11292|      -1|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        25|        4|     WN|          10140|        11292|       7|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         6|        6|     WN|          10140|        11292|       0|      -5|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        2|     AA|          10140|        11298|      -9|     -17|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        15|        3|     AA|          10140|        11298|      31|      43|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        7|     AA|          10140|        11298|       9|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        21|        7|     AA|          10140|        11298|     196|     186|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        7|     AA|          10140|        11298|      -5|       4|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        2|     WN|          10140|        12191|      14|      12|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        12|        3|     WN|          10140|        12191|      -3|      -9|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        19|        5|     WN|          10140|        12191|      60|      45|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         9|        2|     OO|          10140|        12266|      -8|      -6|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        27|        4|     EV|          10140|        12266|      -8|     -22|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        2|     WN|          10140|        12889|      -4|     -13|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        11|        4|     WN|          10140|        12889|       0|       4|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        29|        1|     WN|          10140|        12892|      25|      10|     10140|Albuquerque|   NM|Albuquerque Inter...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
only showing top 20 rows

In [74]:
flights_data.select(round(mean(col('DepDelay'))).alias('mean')).show()

+----+
|mean|
+----+
|11.0|
+----+

In [75]:
flights_data.select(round(stddev(col('DepDelay'))).alias('std_dev')).show()

+-------+
|std_dev|
+-------+
|   36.0|
+-------+

In [77]:
from pyspark.sql import stddev, col
flights_data.select(round(stddev(col('DepDelay'))).alias('std_dev')).show()

ImportError: cannot import name 'stddev'

In [83]:
flights_data.select(round(stddev(col('DepDelay'))).alias('std_dev')).collect()[0][0]

36.0

###3 11. groupBy() agg()

In [84]:
flights_data.groupBy('Carrier')

In [86]:
flights_data.groupBy('Carrier').agg(mean('DepDelay').alias('Avd Delay')).show()

+-------+------------------+
|Carrier|         Avd Delay|
+-------+------------------+
|     UA| 12.56328450054194|
|     AA|12.047073483091621|
|     EV|14.201382793318832|
|     B6| 12.62300717948718|
|     DL|  7.44057536536854|
|     OO| 7.852680109497053|
|     F9|12.124132527423326|
|     YV| 9.400170648464163|
|     US| 4.982146766542894|
|     MQ|15.197729076913472|
|     HA|1.5346074380165289|
|     AS|0.6593429038281979|
|     FL|10.165958089647582|
|     VX|14.391637389851985|
|     WN|12.860663548314177|
|     9E| 9.546332530604055|
+-------+------------------+

In [88]:
flights_data.approxQuantile('ArrDelay', [0.5], 0.001)[0]

-3.0

In [93]:
from pyspark.sql.functions import expr
median_expr = expr(f"percentile_approx({'ArrDelay'}, 0.5)")

flights_data.agg(median_expr.alias("medians")).collect()[0][0]

-3

#### 13. Spark SQL

In [94]:
flights_data.createOrReplaceTempView("flights") #create a temporary table using spark dataframe

In [95]:
spark.sql("select * from flights limit 10").show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|       city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
|         8|        1|     DL|          10140|        10397|      -3|     -10|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        5|     WN|          10140|        10821|      97|      82|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        22|        6|     WN|          10140|        11259|      27|      22|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         7|        7|     WN|          10140|        11259|       6|       1|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        13|        1|     WN|          10140|        11292|      -1|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        25|        4|     WN|          10140|        11292|       7|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         6|        6|     WN|          10140|        11292|       0|      -5|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        2|     AA|          10140|        11298|      -9|     -17|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        15|        3|     AA|          10140|        11298|      31|      43|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        7|     AA|          10140|        11298|       9|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+

In [96]:
# 1. query to show total count of flights by each carrier in descending order
# 2. compute median DepDelay for each carrier
# 3. Find out most busiest Airport out of all.
flights_data.show()
spark.sql("select Carrier, avg(DepDelay) Median from  ")

+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|       city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
|         8|        1|     DL|          10140|        10397|      -3|     -10|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        5|     WN|          10140|        10821|      97|      82|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        22|        6|     WN|          10140|        11259|      27|      22|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         7|        7|     WN|          10140|        11259|       6|       1|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        13|        1|     WN|          10140|        11292|      -1|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        25|        4|     WN|          10140|        11292|       7|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         6|        6|     WN|          10140|        11292|       0|      -5|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        2|     AA|          10140|        11298|      -9|     -17|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        15|        3|     AA|          10140|        11298|      31|      43|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        7|     AA|          10140|        11298|       9|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        21|        7|     AA|          10140|        11298|     196|     186|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        7|     AA|          10140|        11298|      -5|       4|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        2|     WN|          10140|        12191|      14|      12|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        12|        3|     WN|          10140|        12191|      -3|      -9|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        19|        5|     WN|          10140|        12191|      60|      45|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         9|        2|     OO|          10140|        12266|      -8|      -6|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        27|        4|     EV|          10140|        12266|      -8|     -22|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        2|     WN|          10140|        12889|      -4|     -13|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        11|        4|     WN|          10140|        12889|       0|       4|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        29|        1|     WN|          10140|        12892|      25|      10|     10140|Albuquerque|   NM|Albuquerque Inter...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
only showing top 20 rows

In [110]:
spark.sql("select Carrier, count(Carrier) Count from flights group by Carrier order by count(Carrier) desc").show()

+-------+------+
|Carrier| Count|
+-------+------+
|     WN|575090|
|     DL|381601|
|     AA|288910|
|     UA|286010|
|     US|232955|
|     OO|159639|
|     EV|157218|
|     B6|121875|
|     MQ|112113|
|     FL| 92674|
|     9E| 79728|
|     AS| 68544|
|     YV| 52740|
|     F9| 35736|
|     VX| 34726|
|     HA| 17424|
+-------+------+

In [111]:
spark.sql("select * from flights").show()

+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|       city|state|                name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
|         8|        1|     DL|          10140|        10397|      -3|     -10|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        5|     WN|          10140|        10821|      97|      82|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        22|        6|     WN|          10140|        11259|      27|      22|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         7|        7|     WN|          10140|        11259|       6|       1|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        13|        1|     WN|          10140|        11292|      -1|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        25|        4|     WN|          10140|        11292|       7|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         6|        6|     WN|          10140|        11292|       0|      -5|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        2|     AA|          10140|        11298|      -9|     -17|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        15|        3|     AA|          10140|        11298|      31|      43|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        7|     AA|          10140|        11298|       9|      -2|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        21|        7|     AA|          10140|        11298|     196|     186|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        28|        7|     AA|          10140|        11298|      -5|       4|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        2|     WN|          10140|        12191|      14|      12|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        12|        3|     WN|          10140|        12191|      -3|      -9|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        19|        5|     WN|          10140|        12191|      60|      45|     10140|Albuquerque|   NM|Albuquerque Inter...|
|         9|        2|     OO|          10140|        12266|      -8|      -6|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        27|        4|     EV|          10140|        12266|      -8|     -22|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        14|        2|     WN|          10140|        12889|      -4|     -13|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        11|        4|     WN|          10140|        12889|       0|       4|     10140|Albuquerque|   NM|Albuquerque Inter...|
|        29|        1|     WN|          10140|        12892|      25|      10|     10140|Albuquerque|   NM|Albuquerque Inter...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+-----------+-----+--------------------+
only showing top 20 rows

In [114]:
spark.sql("select Carrier, percentile_approx(DepDelay, 0.5) as median from flights where DepDelay > 0 group by Carrier").show()

+-------+------+
|Carrier|median|
+-------+------+
|     UA|    12|
|     AA|    14|
|     EV|    24|
|     B6|    21|
|     DL|    13|
|     OO|    17|
|     F9|    14|
|     YV|    19|
|     US|    12|
|     MQ|    24|
|     HA|     6|
|     AS|     9|
|     FL|    13|
|     VX|    15|
|     WN|    12|
|     9E|    22|
+-------+------+

In [117]:
spark.sql("select airport_id, sum(ArrDelay) from flights group by airport_id").show()

+----------+-------------+
|airport_id|sum(ArrDelay)|
+----------+-------------+
|     14570|        63251|
|     12264|       314645|
|     14771|       734292|
|     11057|       647048|
|     13830|        50909|
|     12191|       262889|
|     10529|        34820|
|     10800|        38585|
|     11259|       178044|
|     14831|       116234|
|     12889|       630833|
|     14730|        89290|
|     13303|       287396|
|     10140|       101305|
|     13342|       117888|
|     11278|       249385|
|     10792|        81243|
|     15304|       188767|
|     14524|        65225|
|     10423|       158292|
+----------+-------------+
only showing top 20 rows

In [119]:
spark.sql("select airport_id, sum(DepDelay) from flights group by airport_id").show()

+----------+-------------+
|airport_id|sum(DepDelay)|
+----------+-------------+
|     14570|        94025|
|     12264|       486909|
|     14771|      1137146|
|     11057|       723881|
|     13830|        49323|
|     12191|       380773|
|     10529|       100078|
|     10800|        86573|
|     11259|       224828|
|     14831|       169083|
|     12889|       925573|
|     14730|       121673|
|     13303|       423343|
|     10140|       161989|
|     13342|       191907|
|     11278|       354763|
|     10792|       130299|
|     15304|       309050|
|     14524|       101901|
|     10423|       271547|
+----------+-------------+
only showing top 20 rows